.DetailCard {
  background-color: #FAFAFA;
}



.DetailCardText {

  text-align: left;
  margin: 15px;

}

.mat-card-title p {
  padding: 15px;
  margin-top: 5px;
  color: #673AB7;
}

.mat-card-content p {
  padding: 20px;
  font-size: large;
  line-height: 1.7em;

}


.matCardButtons {
  display: flex;
  justify-content: space-between;
}

.backButton {
  margin-top: 15px;
  float: right;
}
