.DetailCard {
  padding: 20px;
  text-align: left;
  margin: 15px;

}

.mat-card-title p {
  padding: 15px;
}

.mat-card-content p {
  padding: 15px;
}

.deleteButton {
  text-align: right;

}



.rightIcon {
  margin: 10px;
}
