<div class="container">
  <mat-card>
    <mat-card-title>
      {{post.title}}
    </mat-card-title>
    <mat-card-content>
      <p>{{post.text.slice(0,150)}}...</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="matCardButtons">
        <div class="">
          <app-like [post]="post"> </app-like>
        </div>
        <div class="fullTextButton">
          <button mat-raised-button color="primary" routerLink="/posts/{{post.id}}">Czytaj całość</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
