.container {
  // padding: 5px;
  // justify-content: center;
  width: 70%;
}


mat-card {
  margin: 20px;
  background-color: #FAFAFA;
}

.matCardButtons {
  display: flex;
  justify-content: space-between;
}

.fullTextButton {
  margin: 0 5px;
}
