<div class="oops">
  <div>
    <h1>Ups!</h1>
    <p>
      Coś poszło nie tak.
    </p>
  </div>
  <div>
    <img class="oopsImage" src="../../assets/oopsPen.png" alt="404">
  </div>


  <!-- <div class="grid">
  <div class="oopsImage">
    <img src="../../assets/oopsPen.png" alt="404">
  </div>
  <div calss="oopsText">
    <h1>Ups!</h1>

    <p>
      Coś poszło nie tak.
    </p>
  </div>
</div> -->

  <div class="oopsButton">
    <button mat-stroked-button color="primary" routerLink="">Wróć na stronę główną</button>
  </div>
</div>
