<div class="container">
  <form [formGroup]="postGroup" novalidate>
    <mat-form-field class="newPostTitle" appearance="fill">
      <mat-label>Tytuł</mat-label>
      <input matInput [formControl]="postGroup.controls.title">
      <mat-error *ngIf="postGroup.controls.title.invalid">{{titleErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="newPostText" appearance="fill">
      <mat-label>Wypełnij treścią!</mat-label>
      <textarea formControlName="text" matInput></textarea>
      <mat-error *ngIf="postGroup.controls.title.invalid">{{textErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <div class="addPostButtons">
      <button mat-raised-button color="primary" (click)="addPost()">Zapisz</button>
      <button mat-raised-button color="warn" routerLink="">Anuluj</button>
    </div>
  </form>
</div>
