<div class="postsBody">
  <section class="search">
    <mat-form-field class="searchForm" appearance="fill">
      <mat-label>
        <mat-icon aria-hidden="false" aria-label="">search</mat-icon> Szukasz czegoś konkretnego?
      </mat-label>
      <input matInput #queryInput>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="searchButton" (click)="search(queryInput.value)">Search</button>
  </section>
  <section class="allPosts">
    <app-post *ngFor="let post of posts | async" [post]="post"></app-post>
  </section>
</div>
<!-- <div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select matInput>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div> -->
