.postsBody {
  width: auto;
  // justify-content: center;
  // align-items: flex-end;
}

.search {
  justify-content: center;
  text-align: center;
}

.searchForm {
  width: 50%;
}

.allPosts {
  // width: 50%;
}

.searchButton {
  margin-left: 5px;
  height: 50%;
}
